@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*top-nav*/
.nav-top
{
    padding: 0px 20px;
    width: 100%;
    height: 60px;
    display: flex;
    background-color: rgb(247, 247, 247); 
    justify-content: space-between;
    align-content: center;
    overflow:hidden;

}

.nav-top a
{
    margin: 0 5 px;
    text-decoration: none;
    padding: 8px 20px;
    color:rgb(0, 0, 0);
    font-family:'Akaya Kanadaka', cursive;
    font-size: 20px;

}

.nav-top-logo, .nav-top-container-link
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right:8%;
}
.nav-top-logo-link 
{
   
    margin: 40px;
    text-decoration:none;
    color:#000000;
    padding: 8px 16px;
    font-family: fantasy;;
    display: inline-block;
    font-size: 16px;   

}
.nav-top-link
{
    border: none;
    border-radius: 3px;
    color:rgb(0, 0, 0);
    display:inline-block;
    cursor: pointer;

}
.nav-top-link:hover
{
    background-color:rgba(214, 214, 214, 0.6);
}
.nav-top-signout
{
    
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(241, 29, 195);
    border-radius: 30px;
    color:rgb(0, 0, 0);
    padding: 9px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:22px;
    margin: 5px 8px;
    cursor: pointer;
}
.nav-top-signout:hover
{
    background-color: rgb(247, 234, 234);
    color:rgb(78, 3, 47);
}
/*sidebar*/
.sidebar
{
    position:fixed;
    left: 0;
    width:110px;
    height: 100%;
    background-color: rgb(247, 247, 247);
    text-decoration: none;
    overflow: hidden;

}
.sidebar header
{
    font-size: 25px;
    font-family: 'Akaya Kanadaka', cursive;
    text-align: center;
    line-height: 55px;
    background-color:rgb(253, 242, 242);
}
.sidebar ul a
{
      display:flex;
      flex-direction:column ;
      align-items:center ;
      height:100%;
      width:100%;
      padding:5px;
      box-sizing: border-box;
      font-family: 'Akaya Kanadaka', cursive;
      text-decoration: none;
      border-radius: 6px;
}
.sidebar ul a i
{
    font-size:26px;
    color:rgb(87, 190, 216); 
}
.sidebar ul a span
{
    font-size:12px;
    color:rgb(73, 72, 72);
    font-weight: 900;
}
 ul li:hover a
 {
    background-color:rgba(214, 214, 214, 0.6);
 }
 ul li:hover a i
 {
    color:rgb(22, 154, 187);

 }
 ul li:hover a span
 {
    color:#000;
    font-size:13px;
 }


/*container*/

.container
{
    
    display:grid;
    grid-template-columns: 50% 50%;
    width: calc (100%-110px);
    margin-top: 14px;
    margin-left:150px;
    margin-right:50px;
    background-color: rgb(235, 235, 235);
}
.container-left
{
    
    grid-template-rows: 50% 50%;
    margin:4%;
    padding:7%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background-color: rgb(250, 249, 249) ;
}
.container-right
{
    
    display:grid;
    grid-template-rows: 50% 50%;
    margin:4%;
    padding:7%;
    flex-direction:column;
    background-color: rgb(250, 249, 249) ;
}
.container-right-top ,.container-right-bottom
{
    justify-content:space-between;
    
}
.container-left-picture
{
    width:80%;
    height:80%;
    
}
.container-left-heading 
{
    height:10%;
    padding-left:4%;
    border-bottom: 1px solid black;
}
.container-right-top-head ,.container-right-bottom-head 
{
    display:block;
border-bottom: 1px solid black;
}
.container-left-head ,.container-right-top-head ,.container-right-bottom-head
{
    font-size:25px;
    font-family: 'Akaya Kanadaka', cursive;
}

.container-left-text, .container-right-top-text, .container-right-bottom-text
{
    display:block;
    padding-left:4%;
}

.container-left-text-content ,.container-right-top-content ,.container-right-bottom-content
{
    display:block;
    font-size: 18px;

}
.container-right-top ,.container-right-bottom ,.container-right-bottom-heading ,.container-right-bottom-text ,.container-right-bottom-head 
{
    padding-top: 2%;
}





